<class="twelve columns" data-hook>
  <div class="container">
   <div class="four columns">
     <img name="page_r2_c1" src="img/page_r2_c1.png"  id="page_r2_c1" usemap="#m_page_r2_c1" alt="" />
     <img name="page_r3_c1" src="img/page_r3_c1.png"  id="page_r3_c1" usemap="#m_page_r3_c1" alt="" />
   </div>

   <div class="four columns"> 
     <img name="page_r2_c2" src="img/page_r2_c2.png"  id="page_r2_c2" usemap="#m_page_r2_c2" alt="" />
     <img name="page_r3_c2" src="img/page_r3_c2.png"  id="page_r3_c2" usemap="#m_page_r3_c2" alt="" />
   </div>

   <div class="four columns">
     <img name="page_r2_c3" src="img/page_r2_c3.png"  id="page_r2_c3" usemap="#m_page_r2_c3" alt="" />
     <img name="page_r3_c3" src="img/page_r3_c3.png"  id="page_r3_c3" usemap="#m_page_r3_c3" alt="" />
   </div>

   <div class="four columns">
     <img name="page_r2_c4" src="img/page_r2_c4.png"  id="page_r2_c4" usemap="#m_page_r2_c4" alt="" />
     <img name="page_r3_c4" src="img/page_r3_c4.png"  id="page_r3_c4" usemap="#m_page_r3_c4" alt="" />
  </div>
 </div>
 
 <div class="container">
  <div class="two columns">
     <img name="page_r1_c4" src="img/page_r1_c4.png"  id="page_r1_c4" usemap="#m_page_r1_c4" alt="" />
  </div>
  <div class="two columns offset-by-two">
     <img name="page_r1_c1" src="img/page_r1_c1.png"  id="page_r1_c1" usemap="#m_page_r1_c1" alt="" />
  </div>
 </div>

  <div class="container container-sixteen">  
		<div class="sixteen columns">
			<h1 class="remove-bottom" style="margin-top: 40px">Приветствуем Вас в интернет-магазине ITALYKIDS</h1>
			<h5>Детская одежда из Италии</h5>
			<hr />
		</div>
		<div class="one-third column">
			<h3>Кто мы?</h3>	
			<p>Добавить текст ....</p>
		</div>
		<div class="one-third column">
			<h3>Что Вы сможете у нас приобрести</h3>	
			<p>Детскую одежду от  итальянских дизайнерских фирм</p>
			<ul class="square">
				<li><strong>To Be To</li>
				<li><strong>Gaialuna</li>
				<li><strong>Bast Band.</li>
			</ul>
		</div>
		<div class="one-third column">
			<h3>Почему мы лучшие?</h3>	
			<p>Добавить тест ...</p>
		</div>

	</div><!-- container -->





<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0014)about:internet -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>page.png</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">td img {display: block;}</style>
<!--Fireworks CS6 Dreamweaver CS6 target.  Created Mon Jul 01 23:15:18 GMT+0400 2013-->
</head>

<map name="m_page_r1_c1" id="m_page_r1_c1">
<area shape="rect" coords="0,0,730,256" href="javascript:;" alt="" />
<area shape="rect" coords="0,0,729,254" href="javascript:;" alt="" />
</map>
<map name="m_page_r1_c4" id="m_page_r1_c4">
<area shape="rect" coords="0,0,245,256" href="http://shop.italykids.ru/t/rasprodazha/novinki" alt="" />
<area shape="rect" coords="1,1,243,253" href="javascript:;" alt="" />
</map>
<map name="m_page_r2_c1" id="m_page_r2_c1">
<area shape="rect" coords="0,0,243,192" href="http://shop.italykids.ru/t/dlia-dievochiek" alt="" />
<area shape="rect" coords="0,2,242,190" href="javascript:;" alt="" />
</map>
<map name="m_page_r2_c2" id="m_page_r2_c2">
<area shape="rect" coords="0,0,243,192" href="http://shop.italykids.ru/t/dlia-mal'chikov" alt="" />
<area shape="rect" coords="2,2,242,189" href="javascript:;" alt="" />
</map>
<map name="m_page_r2_c3" id="m_page_r2_c3">
<area shape="rect" coords="0,0,244,192" href="http://shop.italykids.ru/t/2/6-miesiatsiev" alt="" />
<area shape="rect" coords="1,1,243,190" href="javascript:;" alt="" />
</map>
<map name="m_page_r2_c4" id="m_page_r2_c4">
<area shape="rect" coords="0,0,245,192" href="http://shop.italykids.ru/t/rasprodazha/rasprodazha" alt="" />
<area shape="rect" coords="2,0,244,189" href="javascript:;" alt="" />
</map>
<map name="m_page_r3_c1" id="m_page_r3_c1">
<area shape="rect" coords="0,0,243,191" href="http://shop.italykids.ru/contact" alt="" />
<area shape="rect" coords="0,2,242,191" href="javascript:;" alt="" />
</map>
<map name="m_page_r3_c2" id="m_page_r3_c2">
<area shape="rect" coords="0,0,243,191" href="http://shop.italykids.ru/contact" alt="" />
<area shape="rect" coords="1,1,243,190" href="javascript:;" alt="" />
</map>
<map name="m_page_r3_c3" id="m_page_r3_c3">
<area shape="rect" coords="0,0,244,191" href="http://shop.italykids.ru/t/dlia-muzhchin" alt="" />
<area shape="rect" coords="1,1,243,190" href="javascript:;" alt="" />
</map>
<map name="m_page_r3_c4" id="m_page_r3_c4">
<area shape="rect" coords="0,0,245,191" href="http://shop.italykids.ru/t/dlia-zhienshchin" alt="" />
<area shape="rect" coords="2,0,244,189" href="javascript:;" alt="" />
</map>
</body>
</html>
